
body {
    font-family: Arial, sans-serif;
    background-color: #d8e6f3; 
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f0f8df; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF; 
}


.tabs {
    text-align: center;
    margin-bottom: 20px;
    list-style-type: none;
    padding: 0;
}

.tab {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tab:hover {
    background-color: #0056b3; 
    transform: translateY(-3px);
}

.tab.active {
    background-color: #0056b3; 
    transform: translateY(-3px);
}

.tab-content {
    padding: 20px;
    background-color: #cce0ff; 
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-pane {
    display: none;
    padding: 10px 0;
}

.tab-pane.active {
    display: block;
}

.employee-box {
    background-color: #99f000; 
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.employee-box:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.employee-box p {
    margin: 5px 0;
    color: #133;
}


.employee-box:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.employee-box:nth-child(even) {
    background-color: #f0f8ff; 
}

.employee-box:nth-child(odd) {
    background-color: #f0f0ff; 
}


.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#sortSelect {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
